<div *ngIf="loading" class="mt-5 d-flex justify-content-center">
  <div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="row">
  <div class="col-9">
    <h4 class="title">Leads</h4>
    <p class="desc">
      Leads List
    </p>
  </div>


  <!-- <div class="col-3">
    <button type="button" class="btn btn-primary float-end" (click)="resetForm()" data-bs-toggle="modal"
      data-bs-target="#addCustomers">
      <img src="assets/icons/plus.svg" /> Add New
    </button>
  </div> -->
</div>
<!-- <div class="row"> -->
  <div class="row  mt-2 conv-wrapper">
  <div class="col-4 p-3">
    <div class="input-group mb-5 position-relative">
      <input type="text"    [formControl]="searchText"
      class="search-input pl-5" placeholder="Search ..." />
      <img
        src="assets/icons/search.svg"
        alt="Search Icon"
        class="search-icon"
        (click)="searchLead()"
      />
    </div>
    </div>
    </div>
<!-- </div> -->
<div class="row mt-4">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Company</th>
            <th scope="col">Root Domain</th>
            <th scope="col">Vertical</th>
            <th scope="col">Country</th>
            <th scope="col">Email</th>
            <th scope="col">Rank</th>
            <th scope="col">Spend Amount</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lead of allLeadList">
            <td>{{lead?.company  }}</td>
            <td>{{lead?.rootDomain }}</td>
            <td>{{lead?.vertical }}</td>
            <td>{{lead?.country }}</td>
             <td>{{lead?.emails?.split(';')[0] || ''}}</td>
            <td>{{lead?.pageRank}}</td>
            <td>{{lead?.technologySpend}}</td>
            <td>
              <img src="assets/icons/eye.svg" data-bs-toggle="modal" data-bs-target="#addCustomers"
                class="cursor-pointer me-2" (click)="getLeadDetail(lead?.rootDomain )" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="allLeadList?.length"  class="dataTables_paginate paging_simple_numbers" id="basic-1_paginate">
  <a>Viewing Page {{currentPage}} of {{totalPages}}. <b>|</b> </a>
  <a *ngIf="currentPage > 1" class="paginate_button previous" aria-controls="basic-1" data-dt-idx="0" id="basic-1_previous"
    (click)="onPreviousButtonClick()">Previous</a>

  <a *ngIf="allLeadList?.length == 20"  class="paginate_button next" aria-controls="basic-1" data-dt-idx="3" id="basic-1_next"
    (click)="onNextButtonClick()">Next</a>
</div>

<!-- Add Website Modal -->
<div class="modal fade" id="addCustomers" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true" style="background: none">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" style="background: white">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
         Lead Detail
        </h5>
        <i class="fa-solid fa-xmark" data-bs-dismiss="modal" (click)="addCustomers.reset(); isEdit = false"></i>
      </div>
      <div class="modal-body">
        <form [formGroup]="addCustomers">
          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label for="websiteUrl" class="form-label">Company Name:</label>
              <span> {{leadDetail?.company}} </span>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label for="websiteUrl" class="form-label">Root Name:</label>
              <span> {{leadDetail?.rootDomain}} </span>
              </div>
            </div>

            <div class="col-6">
              <div class="mb-3">
                <label for="websiteUrl" class="form-label">Vertical:</label>
              <span> {{leadDetail?.vertical}} </span>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label for="websiteUrl" class="form-label">Country:</label>
              <span> {{leadDetail?.country}} </span>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label for="websiteUrl" class="form-label">City:</label>
              <span> {{leadDetail?.city}} </span>
              </div>
            </div>

            <div class="col-6">
              <div class="mb-3">
                <label for="websiteUrl" class="form-label">Email:</label>
              <span> {{leadDetail?.emails?.split(';')[0] || ''}}</span>
              </div>
            </div>

            <div class="col-6">
              <div class="mb-3">
                <label for="websiteUrl" class="form-label">Technology Spend Amount:</label>
              <span> {{leadDetail?.technologySpend}} </span>
              </div>
            </div>

            <div class="col-6">
              <div class="mb-3">
                <label for="websiteUrl" class="form-label">Page Rank:</label>
              <span> {{leadDetail?.pageRank}} </span>
              </div>
            </div>

            <div class="col-6">
              <div class="mb-3">
                <label for="websiteUrl" class="form-label">Cloud Flare Rank:</label>
              <span> {{leadDetail?.cloudflareRank}} </span>
              </div>
            </div>

            <div class="col-6">
              <div class="mb-3">
                <label for="websiteUrl" class="form-label">Crux Rank:</label>
              <span> {{leadDetail?.cruxRank}} </span>
              </div>
            </div>

            <div class="col-6">
              <div class="mb-3">
                <label for="websiteUrl" class="form-label">Number of Employees:</label>
              <span> {{leadDetail?.employees}} </span>
              </div>
            </div>

            <div class="col-6">
              <div class="mb-3">
                <label for="websiteUrl" class="form-label"> Zip:</label>
              <span> {{leadDetail?.zip}} </span>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer d-flex justify-content-end">
        <button data-bs-dismiss="modal" class="btn btn-outline-secondary" #closebutton
          (click)="addCustomers.reset(); isEdit = false">
          Close
        </button>
      </div>
    </div>
  </div>
</div>