/* XL Device :1200px. */

@media (min-width: 1200px) and (max-width: 1449px) {
	.site__identity a img {
		height: 50px;
	}

	.main__menu ul li a {
		font-size: 15px;
		margin-left: 20px;
	}

	.find__content input {
		font-size: 14px;
		width: 226px;
		padding: 6px 16px;
	}

	.articles__welcome h4 {
		font-size: 18px;
	}

	.articles__welcome p {
		font-size: 14px;
	}

	.single__articles__percentage__blk p {
		font-size: 14px;
		margin-top: 10px;
	}

	.single__articles__percentage__blk h5 {
		font-size: 52px;
	}

	.single__articles__percentage__blk h5 span {
		font-size: 22px;
		padding: 10px 8px;
		margin-left: 10px;
	}

	.similar__box__content span {
		font-size: 14px;
		margin-bottom: 12px;
	}

	.similar__box__content h4 {
		font-size: 16px;
	}

	.articles__list ul li {
		font-size: 14px;
		padding-left: 18px;
		line-height: 22px;
	}

	.similar__box__area .row > * {
		padding-left: 20px;
		padding-right: 20px;
	}

	.similar__bx__title h4 {
		font-size: 20px;
		padding-left: 7px;
	}
}

/* LG Device :992px. */

@media (min-width: 992px) and (max-width: 1200px) {
	.site__identity a img {
		height: 40px;
	}

	.main__menu ul li a {
		font-size: 14px;
		margin-left: 16px;
	}

	.find__content input {
		font-size: 13px;
		width: 200px;
		padding: 5px 11px;
	}

	.articles__welcome h4 {
		font-size: 18px;
	}

	.articles__welcome p {
		font-size: 14px;
	}

	.single__articles__percentage__blk p {
		font-size: 14px;
		margin-top: 10px;
	}

	.single__articles__percentage__blk h5 {
		font-size: 40px;
	}

	.single__articles__percentage__blk h5 span {
		font-size: 20px;
		padding: 10px 8px;
		margin-left: 10px;
	}

	.similar__box__content span {
		font-size: 14px;
		margin-bottom: 12px;
	}

	.similar__box__content h4 {
		font-size: 16px;
	}

	.articles__list ul li {
		font-size: 14px;
		padding-left: 18px;
		line-height: 22px;
	}

	.header__left__blk {
		gap: 15px;
	}

	.header__dropdown button h4 {
		font-size: 16px;
		line-height: 20px;
	}

	.similar__box__area .row > * {
		padding-left: 15px;
		padding-right: 15px;
	}

	.single__articles__percentage__blk h5 span img {
		height: 20px;
	}

	.similar__bx__title h4 {
		font-size: 20px;
		padding-left: 3px;
	}
}

/* MD Device :768px. */

@media (min-width: 768px) and (max-width: 991px) {
	.site__identity a img {
		height: 40px;
	}

	.main__menu ul li a {
		font-size: 14px;
		margin-left: 16px;
	}

	.find__content input {
		font-size: 13px;
		width: 100%;
		padding: 5px 11px;
	}

	.articles__welcome h4 {
		font-size: 18px;
	}

	.articles__welcome p {
		font-size: 14px;
	}

	.single__articles__percentage__blk p {
		font-size: 14px;
		margin-top: 10px;
	}

	.single__articles__percentage__blk h5 {
		font-size: 40px;
	}

	.single__articles__percentage__blk h5 span {
		font-size: 20px;
		padding: 10px 8px;
		margin-left: 10px;
	}

	.similar__box__content span {
		font-size: 14px;
		margin-bottom: 12px;
	}

	.similar__box__content h4 {
		font-size: 16px;
	}

	.articles__list ul li {
		font-size: 14px;
		padding-left: 18px;
		line-height: 22px;
	}

	.header__left__blk {
		gap: 15px;
	}

	.header__dropdown button h4 {
		font-size: 16px;
		line-height: 20px;
	}

	.similar__box__area .row > * {
		padding-left: 12px;
		padding-right: 12px;
	}

	.single__articles__percentage__blk h5 span img {
		height: 20px;
	}

	.desk_none {
		display: block;
	}

	.none_phone {
		display: none;
	}

	.mobile__menu {
		position: fixed;
		left: -100%;
		top: 0;
		height: 100%;
		width: 330px;
		background: #fff;
		padding: 20px;
		padding-top: 60px;
		transition: 0.3s all;
		z-index: 999;
	}

	.main__menu ul li {
		display: block;
		margin: 0;
		padding: 6px 0;
		border-bottom: 1px solid #333;
	}

	.main__menu ul li a {
		margin: 0;
		display: block;
		padding: 6px 0;
	}

	.main__menu ul li a:hover {
		padding-left: 5px;
	}

	.find_blk {
		margin-top: 30px;
	}

	.mobile__menu.active {
		left: 0;
	}

	.overlay.active {
		left: 0;
	}

	.similar__bx__title h4 {
		font-size: 20px;
		padding-left: 0;
	}

	.box__inner__text i {
		font-size: 18px;
	}

	.content__plan a {
		font-size: 16px;
	}

	.similar__border__blk {
		padding-left: 20px;
		padding-bottom: 30px;
		border-bottom: 2px solid #1aae9f;
	}

	.post__blog__area {
		border-left: 2px solid #1aae9f;
	}

	.single__dash__table td {
		font-size: 13px;
		padding: 10px 10px;
	}
}

/* SM Small Device :320px. */

@media only screen and (min-width: 320px) and (max-width: 767px) {
	.site__identity a img {
		height: 35px;
	}

	.topic__button a {
		font-size: 14px;
		margin-right: 13px;
		padding-bottom: 8px;
		margin-left: 0;
	}
	.single__dash__table td {
		font-size: 12px;
		padding: 8px 10px;
	}
	.section__scroll {
		width: 575px;
		height: 465px;
	}
	.my__content__tabs__aera {
		flex-direction: column-reverse;
	}
	.table tr th {
		font-size: 14px;
	}
	.main__menu ul li a {
		font-size: 14px;
		margin-left: 16px;
	}
	.ct_ico {
		font-size: 16px;
		padding-top: 0;
	}
	.similar__border__blk {
		padding-left: 20px;
		padding-bottom: 30px;
		border-bottom: 2px solid #1aae9f;
	}

	.find__content input {
		font-size: 13px;
		width: 100%;
		padding: 5px 11px;
	}
	.my__content__title a span {
		font-size: 14px;
	}
	.month__details h4 {
		font-size: 20px;
	}

	.post__blog__area {
		border-left: 2px solid #1aae9f;
	}

	.month__details span {
		margin-bottom: 15px;
		font-size: 14px;
	}

	.articles__welcome h4 {
		font-size: 18px;
	}

	.month__details h5 {
		font-size: 16px;
	}

	.month__details p {
		font-size: 14px;
	}

	.similar__post__title h4 {
		font-size: 20px;
	}

	.post__on__blog > a {
		width: 188px;
		padding: 8px;
		font-size: 14px;
		border-radius: 5px;
	}

	.articles__welcome p {
		font-size: 14px;
	}
	.box-content {
		font-size: 14px;
	}

	.post__on__blog a img {
		height: 24px;
	}

	.similar__post__title.mb-50 {
		margin-bottom: 20px;
	}

	.list_m_1 h5 {
		font-size: 14px;
	}

	.list_m_1 h5 i {
		font-size: 13px;
	}

	.list_m_1 h5 img {
		height: 17px;
	}

	.emails_slide_top_blk h4 {
		font-size: 16px;
	}

	.emails_slide_top_blk a {
		font-size: 14px;
	}

	.single__topic__drop button {
		font-size: 16px;
		width: 280px;
	}

	.single__topic__drop label {
		font-size: 14px;
	}

	.emails__video__slider__area {
		padding: 15px 30px;
	}

	.single__articles__percentage__blk p {
		font-size: 14px;
		margin-top: 10px;
	}

	.single__articles__percentage__blk h5 {
		font-size: 40px;
	}

	.box__inner__text i {
		font-size: 18px;
	}

	.single__articles__percentage__blk h5 span {
		font-size: 20px;
		padding: 10px 8px;
		margin-left: 10px;
	}

	.similar__box__content span {
		font-size: 14px;
		margin-bottom: 12px;
	}

	.similar__box__content h4 {
		font-size: 16px;
	}

	.articles__list ul li {
		font-size: 14px;
		padding-left: 18px;
		line-height: 22px;
	}

	.header__left__blk {
		gap: 15px;
	}

	.topic__inner__blk {
		margin-bottom: 20px;
	}

	.similar__section__content h4 {
		font-size: 18px;
	}

	.similar__section__content p {
		font-size: 15px;
	}

	.header__dropdown button h4 {
		font-size: 14px;
		line-height: 16px;
	}

	.similar__box__area .row > * {
		padding-left: 12px;
		padding-right: 12px;
	}

	.single__articles__percentage__blk h5 span img {
		height: 20px;
	}

	.desk_none {
		display: block;
	}

	.none_phone {
		display: none;
	}

	.mobile__menu {
		position: fixed;
		left: -100%;
		top: 0;
		height: 100%;
		width: 330px;
		background: #fff;
		padding: 20px;
		padding-top: 60px;
		transition: 0.3s all;
		z-index: 999;
	}

	.main__menu ul li {
		display: block;
		margin: 0;
		padding: 6px 0;
		border-bottom: 1px solid #333;
	}

	.main__menu ul li a {
		margin: 0;
		display: block;
		padding: 6px 0;
	}

	.main__menu ul li a:hover {
		padding-left: 5px;
	}

	.find_blk {
		margin-top: 30px;
	}

	.mobile__menu.active {
		left: 0;
	}

	.overlay.active {
		left: 0;
	}

	.header__dropdown button h4 span {
		font-size: 10px;
	}

	.header__dropdown button {
		width: 117px;
		padding-right: 21px;
	}

	.dropdown-item {
		font-size: 14px;
		line-height: 16px;
	}

	.dropdown-toggle::after {
		border-top: 1px solid #4b5c6b;
		border-right: 1px solid #4b5c6b;
		height: 8px;
		width: 10px;
	}

	.similar__bx__title h4 {
		font-size: 18px;
		font-weight: 600;
	}

	.week__inner__wrapper {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.recovery__content h5 {
		font-size: 15px;
		margin-bottom: 3px;
	}

	.recovery__content p {
		font-size: 12px;
	}

	.recovery__thumb img {
		height: 46px;
	}

	.dashboard__area.mt-70 {
		margin-top: 30px;
	}

	.content__plan a {
		font-size: 14px;
	}

	.single__sidebar span {
		font-size: 15px;
	}

	.single__sidebar img {
		height: 17px;
	}

	.single__sidebar {
		margin-bottom: 10px;
	}

	.single__sidebar.mb-15 {
		margin-bottom: 5px !important;
	}

	.sidebar__joinus h4 {
		font-size: 20px;
	}

	.sidebar__joinus p {
		font-size: 16px;
	}

	.sidebar__joinus h5 {
		font-size: 14px;
	}

	.sidebar__joinus span {
		font-size: 19px;
	}
}

/* SM Small Device :550px. */

@media only screen and (min-width: 576px) and (max-width: 767px) {
}
