.active div {
	background-color: rgba(207, 219, 235, 1);
}
.active span {
	color: rgba(18, 35, 76, 1) !important;
	// font-weight: 600;
}
.active .single__sidebar .svg-icon {
	// filter: brightness(0%) invert(70%);
}
.profile-dropdown {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	width: 100%;
	padding: 0;
}
.profile-dropdown img {
	width: 45px;
	height: 45px;
	border-radius: 100%;
}

.header-form {
	i {
		color: #788896;
		position: absolute;
		top: 16px;
		left: 20px;
		margin: 0 10px;
	}
	input {
		width: 60%;
		border-radius: 25px;
		text-indent: 50px;
		border: none;
		background: #f1f3f5;
		color: #7995b5;
	}
	.input-group-append {
		button {
			border-radius: 25px !important;
			width: 150px;
			margin-left: -20px;
		}
	}
}
.dropdown-menu {
	inset: unset !important;
	top: 0 !important;
	right: 0 !important;
}
.single__sidebar img {
	height: 20px;
	width: 20px;
}
a {
	text-decoration: none !important;
}