.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}

.desc {
  color: #6c757d;
  margin-bottom: 0;
}

.card {
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
}

.table {
  margin-bottom: 0;
}

.badge {
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 500;
}

.text-success {
  color: #28a745 !important;
}

.text-danger {
  color: #dc3545 !important;
}

.card-subtitle {
  font-size: 14px;
  font-weight: 600;
  color: #6c757d;
}

.card-text {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
}

.dataTables_paginate {
  float: right;
  font-family: Outfit, sans-serif;
  color: #8d8d8d;
  border: none;
}

.paginate_button {
  display: inline-block;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f4f4f4;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #6BE3AA;
    color: #333;
  }
}
